$MulishFont: "Mulish", sans-serif;

/* text  */
$text-color-dark: #9394a1;
$text-color-light: #ffffff;

/* colors */
$common-orange: #ee6c4d;
$common-red: #eb5757;
$common-green: #219653;
$common-blue: #308299;
$common-purple: #7757f9;

$navigation-dark: #1e1f25;
$background-dark: #131517;
