@import "vars";
@import "mixins";
@import "normalize";

/* components & pages */
@import "./components/navigation/navigation.scss";

/* font-family */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");

/* common styling */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $MulishFont;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  padding: constant(safe-area-inset-top) constant(safe-area-inset-right)
    constant(safe-area-inset-bottom) constant(safe-area-inset-left);
}

body > iframe {
  display: none !important;
}

html,
body {
  overflow: hidden;
  margin: 0;
}

body > iframe {
  display: none !important;
}

body {
  height: 100%;
  background-color: $background-dark;
}

ul {
  list-style: none;
}

/* main layout (main) */
.main-layout {
  display: flex;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
}

@include mq-tablet {
  .main-layout {
    flex-direction: column;
  }

  #main {
    height: 94.5%;
    height: calc(100% - #{55px});
  }

  .navigation {
    order: 4;
  }
}

#main {
  width: 100%;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
}
