@import "vars";
@import "mixins";
@import "normalize";

/* navigation */
@import "./components/navigation/navigation.scss";

/* main styles */

body {
  background-color: $background-dark;
}
body,
#root,
.application-wrapper {
  width: 100%;
  height: 100%;
}

.application-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content-wrapper {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  .herder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 40px 0px 30px 0px;
    flex-wrap: nowrap;
    border-bottom: 1px solid #23272c;
    .profile {
      margin-left: 30px;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;
      &-nickname {
        margin-left: 15px;
        margin-right: 40px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
      }
      &-icon {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: antiquewhite;
      }
    }
  }
}
